@import url('https://fonts.googleapis.com/css?family=Ubuntu');

caption {
	text-align: center;
	padding-bottom: 20px;
}
table {
	position: center;	
	width: 80%;
	height: 100%;
	font-size: 14px;
	margin: auto;
	border-spacing: 0; /*espaço entre células*/
	font-family: Ubuntu; 
	border: 3px solid blue;

}

td {
	border: 3px solid black; 	
	height: 100px;
	width: 25%;
}

th {
	border: 3px solid black;
	background-color: #C0C0C0;
	padding: 5px;
}
.cent {
	text-align: center;
}
#img {
	background-image: url("índice.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
